# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.lock

# Android
android/app/keystore.jks
android/key.properties
*.keystore
*.jks
.gradle/
local.properties
android/.gradle/
android/local.properties
android/gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Native build artifacts
android/app/src/main/jniLibs/
